@model IEnumerable<MeuSiteII.Models.Pessoa>

@{
    ViewData["Title"] = "Index";
}

<h1>Pessoas</h1>

<p>
    <a asp-action="Create">Cadastrar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>

            <!-- SEXO NÃO EXISTE NO CÓDIGO ORIGINAL, COLOQUEI SEGUINDO O PADRÃO DOS CAMPOS -->
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            
            <!-- SEXO NÃO EXISTE NO CÓDIGO ORIGINAL, COLOQUEI SEGUINDO O PADRÃO DOS CAMPOS -->
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>


            <td>
                @* @Html.DisplayFor(modelItem => item.DataNascimento) *@
                @(item.DataNascimento.ToString("dd/MM/yyyy"))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PessoaId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.PessoaId">Detalhe</a> |
                <a asp-action="Delete" asp-route-id="@item.PessoaId">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
